/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), 
       local('Roboto-Regular'), 
       url(http://themes.googleusercontent.com/static/fonts/roboto/v11/2UX7WLTfW3W8TclTUvlFyQ.woff) 
       format('woff');
}
body{
        font-family: Roboto;    
        background-color:#3f51b5;
}
  img.poster {
    width: 185px;
    height: 278px;
}